<app-data-grid
    [header-list]="headerList"
    [field-list]="fieldList"
    [data-list]="courseList"
>
</app-data-grid>
<!-- <table class="table table-bordered bg-dark text-info">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Fees</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courseList">
            <td>{{course.id}}</td>
            <td>{{course.courseCode}}</td>
            <td>{{course.courseName}}</td>
            <td>{{course.fees}}</td>
        </tr>
    </tbody>
</table> -->