<table class="table table-bordered" bg-dark text-info>
    <thead>
        <tr>
            <th>Product #</th>
            <th>Name</th>
            <th>Code</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td><a [routerLink]="['/admin/product-detail',product.id]">{{product.id}}</a></td>
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td>{{product.unitPrice}}</td>
        </tr>
    </tbody>
</table>