<div class="container">
  <div class="row m-1">
    <div class="col">
      <h1 #msg>Hello Radhe Krishna...!</h1>
    </div>    
    <div class="col">
      <button class="btn btn-info" (click)="changeH1()">Change H1 Content</button>
    </div>
  </div>
  <div class="row m-1">
    <div class="col">
       <app-string-util></app-string-util>
    </div>
  </div>
  <div class="row m-1">
    <div class="col">
      <button class="btn btn-info m-1" (click)="convertToUpper()">Upper</button>
      <button class="btn btn-success m-1" (click)="convertToLower()">Lower</button>
      <button class="btn btn-danger" (click)="convertToReverse()">Reverse</button>
    </div>
  </div>
</div>