<div class="card">
    <div class="card-header bg-{{bgColor}} text-{{textColor}}">
        Personal Information
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name : </th>
                    <td>{{lastName}}, {{firstName}}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{age}}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{city}}</td>
                </tr>
                <tr>
                    <th>Mobile No</th>
                    <td>{{mobileNo}}</td>                        
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{email}}</td>
                </tr>
            </thead>
        </table>
    </div>
</div>