<table class="table table-bordered bg-dark text-warning">
    <thead>
        <tr>
            <th>Name</th>
            <th>MobileNo</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Keyur</td>
            <td>7387029671</td>
            <td>keyurjava27@gmail.com</td>
        </tr>
        <tr>
            <td>Denish</td>
            <td>7387029121</td>
            <td>denishjava26@gmail.com</td>
        </tr>
        <tr>
            <td>Vinit</td>
            <td>7387029434</td>
            <td>vinitjava44@gmail.com</td>
        </tr>
    </tbody>
</table>